{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": ["plugin:prettier/recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "no-eval": "error",
    "import/first": "error"
  }
}
